<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Vue To Do List</title>

        <!-- css  -->
         <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        
        <div id="app">

            <div class="container ">
                <h1>
                    TODO LIST
                </h1>

            </div>

            <div class="container ">
                <ul>
                    <li @click="changeBoolean(missionIndex)" v-for="(mission, missionIndex) in missions" :class="mission.done == true ? 'sbarrato' : ''">
                        {{ mission.text }}
                        <button @click.stop="removeMission(missionIndex)">x</button>
                    </li>
                </ul>

            </div>

            <div class="container">
                <div>
                    <input @keyup.enter="addMission()" v-model="newtext" type="text">

                </div>
                <!-- <div>
                    <input @keyup.enter="addMission()" v-model="newDone" type="text">

                </div> -->

                <button @click="addMission()">Aggiungi</button>

            </div>
        </div>
        
        
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>